{% extends 'base.html.twig' %}

{% block title %}About me! {% endblock %}

{% block body %}
    <h1>Hi there, {{ name }}! On this page you can read a bit more about me.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eum id saepe
        veritatis vero? Atque consectetur harum laudantium modi quis sapiente, velit? A
        alias autem blanditiis culpa dolores expedita suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eum id saepe
        veritatis vero? Atque consectetur harum laudantium modi quis sapiente, velit? A
        alias autem blanditiis culpa dolores expedita suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eum id saepe
        veritatis vero? Atque consectetur harum laudantium modi quis sapiente, velit? A
        alias autem blanditiis culpa dolores expedita suscipit.</p>
    <div>
        <a href="{{ path('show-my-name') }}">Go to the homepage</a>
    </div>
{% endblock %}


